---
import BaseHead from '../components/BaseHead.astro';
import Button from '../components/Button.astro';
import CircleImage from '../components/CircleImage.astro';
import CTASection from '../components/CTASection.astro';
import DoubleColumn from '../components/DoubleColumn.astro';
import fallback from '../images/fallback.png';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import ThreeColumn from '../components/ThreeColumn.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero
				title="FAQs"
				subtitle="Frequently Asked Questions about BAAE"
				buttonText="Attend An Event"
				buttonLink="/events"
				bgColor="green"
			>
				<h3 style="color: var(--white);">Dive into the details and join our growing community.</h3>
			</Hero>

			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
				<br>
				<h3 style="color: var(--accent-dark);">Is there a cost to join?</h3>
				<p>There’s no upfront cost to join. We simply ask that members host or co-host one event per year. Nothing big or complicated.</p>

				<h3 style="color: var(--accent-dark);">How do I plan an event?</h3>
				<p>You don’t have to do it alone. We’re happy to help. Events can be very simple: coffee chats, a casual walk or hike, or a small dinner if that’s your style.</p>
			</div>

			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
				<Button href="/events" text="Events Calendar" variant="secondary" /> 
				<br>
			</div>
			
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
				<h3 style="color: var(--accent-dark);">Why focus on angels and entrepreneurs?</h3>
				<p>You don’t need to be an investor or founder already. This community is for women who are curious and growth-minded.</p>

				<h3 style="color: var(--accent-dark);">Is there an age or gender requirement?</h3>
				<p>This group is for women 18+ and is LGBTQIA+ inclusive. Some events allow a plus-one; just check with the hosts.</p>

				<h3 style="color: var(--accent-dark);">What's the code of conduct?</h3>
				<p>We aim to keep this a warm, respectful, low-ego space. Harassment, discrimination, or aggression isn't welcome.</p>
			</div>
						
			<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
				<Button href="/contact" text="Become A Member" variant="main" /> 
			</div>

		</main>

		<Footer />

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		if (!user) {
			window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
			});
		}
		});
	}
	</script>

	</body>
</html>
