---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>BAAE: Bay Area Angels & Entrepreneurs</h1>
			<h2>Nurturing Friendships and Lifelong Connections</h2>
			<p>BAAE is a social club for women who are looking to build meaningful relationships. Join us as we build a better future through curated events designed to spark inspiring conversations and collaboration.</p>
			<p>Our growing membership includes over 80 women from all walks of life. Whether you’re new to the Bay Area or re-establishing roots, we’re here to help you thrive.</p>
			
			<a href="/contact" class="btn-bold">Beome A Member</a>

			<h2>What We Do</h2>
			<p>Hosting monthly gatherings to recharge and reconnect</p>

			<h2>Membership asks</h2>
			<p>🍊 Host one event per year (dinner, walk, wine, workshop, your vibe)</p>
			<p>🍊 Share financial wellness tips and make meaningful connections</p>

			<h2>Who it’s for</h2>
			<p>BAAE is built for mid to late career women building their home in the Bay Area. Many of us are new to the area, career-focused, and craving real, sustainable friendships for life.</p>
			<p>Join us for a fresh start!</p>

			<a href="/contact" class="btn">Join Our Community</a>
			
		</main>

		<Footer />

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		if (!user) {
			window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
			});
		}
		});
	}
	</script>

	</body>
</html>
