---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Meet Your BAAE BFFs</h1>
			<h2>Nurturing Friendships and Lifelong Connections</h2>
		
			<h2>Meet Nadine</h2>
			<p>
				Nadine is the founder of Bay Area Angels & Entrepreneurs (BAAE). She’s a seasoned marketing, PR, and communications professional with over 10 years of experience helping ideas grow through storytelling, digital marketing, and community-centered events. Nadine is passionate about bringing people together and creating spaces that feel thoughtful, welcoming, and genuinely supportive.
			</p>
			<p>
				Nadine is the founder of Bay Area Angels & Entrepreneurs (BAAE). She’s a seasoned marketing, PR, and communications professional with over 10 years of experience helping ideas grow through storytelling, digital marketing, and community-centered events. Nadine is passionate about bringing people together and creating spaces that feel thoughtful, welcoming, and genuinely supportive.
			</p>
			<p>
				BAAE stems from Nadine’s own desire for deeper friendships, inspiring conversations, and a sense of belonging. Her hope is that this community feels like a place where you can show up as you are, connect meaningfully, and build friendships that last.
			</p>

			<h2>BAAE by the Numbers</h2>
			<h3>80</h3>
			<p>Women from all walks of life</p>

			<h3></h3>
			<p></p>

			<h3>65%</h3>
			<p>New to the California Bay Area</p>

			<h3>100%</h3>
			<p>Invested in friendship and personal growth</p>

		</main>

		<Footer />

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		if (!user) {
			window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
			});
		}
		});
	}
	</script>

	</body>
</html>
