---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} BAAE: Bay Area Angels & Entrepreneurs. All rights reserved.
	<p>Nurturing Friendships and Lifelong Connections</p>

	<a href="/contact" class="btn">Join Us Today</a>
	
	<div class="footer-logo">
		<a href="/">
			<img src="/negative-logo.png" alt="BAAE negative logo" class="footer-logo">
		</a>
	</div>

	<div class="social-links">
		<a href="https://www.strava.com/clubs/baae" target="_blank">
			<span class="sr-only">Join BAAE on Strava</span>
			<i class="fa-brands fa-strava"></i>
		</a>
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--accent-dark) no-repeat;
		color: var(--white);
		text-align: center;
	}
	
	.footer-logo {
		margin: 2em auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.footer-logo {
		width: 100%;
		max-width: 200px;
		height: auto;
		display: block;
	}
	
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--white);
		font-size: 1.5em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.social-links a:hover {
		color: var(--accent-light);
		transform: scale(1.1);
	}

</style>