---
const today = new Date();
import logo from '../images/20260618-negative-logo.png';
---

<footer>
	&copy; {today.getFullYear()} BAAE: Bay Area Angels & Entrepreneurs. All rights reserved.
	<p>Nurturing Friendships and Lifelong Connections</p>

	<a href="/contact" class="btn">Join Us Today</a>
	
	<div>
		<img src={logo} alt="BAAE negative logo" width="12em">
	</div>

	<div class="social-links">
		<a href="https://www.strava.com/clubs/baae" target="_blank">
			<span class="sr-only">Join BAAE on Strava</span>
			<i class="fa-brands fa-strava"></i>
		</a>
	</div>


</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--accent-dark) no-repeat;
		color: var(--white);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
